@media (max-width: 884px) {
    .plants {
      grid-template-columns: repeat(2, 1fr); /* Two columns for large screens */
    }
  }

@media (max-width: 650px) {

    .plants {
        grid-template-columns: repeat(1, 1fr); /* One column for small screens */
      }

      .back-to-top-btn {
        display: inline-block;
    }

    .back-to-top-btn-large {
        display: none;
    }
}


@media (max-width: 500px) {
    .topbar {
        display: none;
    }

    .nav-links ul li a {
        font-size: 2rem;
    }

    .about-us h3, .photo-head, .our-plants h3, .contact-us h3 {
        font-size: 2rem;
    }

    .contact-us h4 {
        font-size: 1.75rem;
    }

    .contact-info h3 {
        font-size: 1.75rem;
    }

    .contact-info a {
        font-size: 1.5rem;
    }

    .contact-info a i {
        font-size: 2.5rem;
    }

    .about-us p, .our-plants p, .contact-us p, .contact-us h4 {
        font-size: 1.5rem;
        line-height: 1.5;
    }

    .expand-btn, .collapse-btn, .button-container button, .menu-btn {
        font-size: 1.25rem;
    }

    .form-group label {
        font-size: 1.5rem;
    }

    .form-group input, .form-group textarea {
        font-size: 1.5rem;
    }

}

@media (min-width: 471px) {

        #nav {
        padding-bottom: 3rem;
    }

}

@media (max-width: 470px) {

    .nav-links ul li a {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {
    .plants {
        grid-template-columns: 1fr;/* Two columns for large screens */
        gap: 10px;
        padding: 10px;
      }

}

@media (max-width: 400px) {

}

@media (max-width: 350px) {

    .button-container button {
        font-size: 1rem;
    }

    .footer-links ul li a {
        font-size: 1.75rem;
    }

    .copyright p, .copyright a {
        font-size: 1rem;
    }

    .contact-info h3 {
        font-size: 1.5rem;
    }

    .contact-info a {
        font-size: 1.25rem;
    }

    .contact-info a i {
        font-size: 2rem;
    }

}

@media (max-width: 340px) {

    .plant-item {
        width: 175px;
        height: auto;
    }

}

@media (max-width: 300px) {

    .nav-links ul li a {
        font-size: 1.25rem;
    }

    .plant-item {
        width: 150px;
        height: auto;
    }

}

@media (max-width: 265px) {

    .plant-item {
        width: 125px;
        height: auto;
    }

    .plant-item h3 {
        font-size: 1.3rem;
        line-height: 1.5;
    }

    .plant-item p {
        font-size: 1.3rem;
    }

}

@media (max-width: 250px) {

      .nav-links ul {
        display: flex;
        flex-direction: column;
    }

}
