
/* GENERAL */

body {
    font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, img, data, span, input, button, select, textarea {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input, button, select, textarea {
  background: none;
  border: none;
  font: inherit;
}

input, select, textarea {
  width: 100%;
  outline: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.85em;
  overflow: hidden;
}

body.loaded {
    overflow: overlay;
}

body.nav-active {
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #57655a;
}



/* PRELOAD */
.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #57655a;
    z-index: 10;
    display: grid;
    place-content: center;
    justify-items: center;
    transition: 500ms ease;
}

.preload > * {
    transition: 250ms ease;
}

.preload.loaded > * {
    opacity: 0;
}

.preload.loaded {
    transition-delay: 250ms;
    transform: translateY(100%);
}

.tree {
    font-size: calc(4rem + 3vw);
    padding-bottom: 3rem;
}

.text {
    line-height: 6rem;
}

.preload .text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: calc(4rem + 2vw);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 16px;
    text-align: center;
}



/* TOP BAR */
.topbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 50px;
    border-block-end: 1px solid black;
    transition: 250ms ease;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1000;
}

.topbar .top-container, .topbar-item {
    display: flex;
    align-items: center;
}

.topbar .top-container {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.topbar-item {
    gap: 10px;
    margin-bottom: 0px;
}

.topbar-item .icon i {
    font-size: 1.5rem;
}

.topbar-item .span {
    font-size: 1.25rem;
}

.topbar .link {
    transition: 250ms ease;
}



/* NAV BAR - HEADER */
#nav {
    text-align: center;
    padding-bottom: 4rem;
}

#nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#nav .logo img {
    max-width: 100%;
    transition: max-width 0.5s ease;
    justify-content: center;
    align-items: center;

}

.nav-links {
    margin-top: 20px;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-links ul li {
    margin: 0
}

.nav-links ul li a {
    font-size: 2.25rem;
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav-links ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2.5px;
    background-color: #57655a;
    transition: height 500ms ease-in;
}

.nav-links ul li a:hover::after {
    width: 100%;
  }


/* CONTENT BOX STYLING */

.content-box {
    display: flex;
    flex-direction: column;
    background-color: #57655a;
    margin: 2rem;
    border-radius: 2rem;
}

.inner-content-box {
    display: flex;
    flex-direction: column;
    background-color: #323c34;
    margin: 2rem;
    border-radius: 2rem;
}



/* ABOUT */

#about-us {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 3rem;
    margin: 2rem;
}

.about-us {
    justify-content: center;
    align-items: center;
}

.about-us h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.about-us p {
    font-size: 1.75rem;
}

.about-us-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expand-btn, .collapse-btn, .menu-btn {
    color: black;
    font-size: 1.5rem;
    background-color: #57655a;
    padding: 1rem 2rem;
    margin-top: 20px;
    border-radius: 2rem;
    display: inline-block;
}

.expand-btn:hover, .collapse-btn:hover, .menu-btn:hover{
    background-color: white;
    transition: 250ms ease-in;
}

#expandable-paragraph {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    text-align: center;
}

#expandable-paragraph p {
    padding-top: 2rem;
}



/* PHOTO GALLERY */
.gallery-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
    max-width: 800px;
  }

  .image-wrapper {
    padding-top: 4rem;
    display: flex;
    transition: transform 0.5s ease; /* Smooth transition for sliding */
    border-radius: 2rem;
  }

  .image-wrapper img {
    width: 100%;
    height: auto;
    border-radius: 2rem;
  }

  .button-container {
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .button-container button {
    color: black;
    font-size: 1.5rem;
    background-color: #57655a;
    min-width: 150px;
    margin: 20px;
    border-radius: 2rem;
    display: inline-block;
  }

  .button-container button:hover {
    background-color: #ffffff;
    transition: 250ms ease-in;
  }



/* OUR PLANTS */

#our-plants {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 3rem;
    margin: 2rem;
}

.our-plants {
    justify-content: center;
    align-items: center;
}

.our-plants h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.our-plants p {
    font-size: 1.75rem;
}

.our-plants-p {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* OUR PLANTS MENU */

#expandable-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
    padding: 20px;
}

.plant-menu {
    gap: 20px;
    padding: 20px;
  }

  .plants {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Two columns for large screens */
    gap: 20px;
    padding: 20px;
  }

  .plant-item {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
  }

  .plant-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
